* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 400 18px/1 'Roboto', 'sans-serif';
}

.container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

.default{
width: 150px;
height: 32px;
color: white;
background: #111B47;
border-radius: 2px;
}