.content {
  text-align: center;
  padding-top: 150px;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #6F7CB2;
  padding-top: 16px;
  padding-bottom: 36px;
}

.title-price {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  color: #222F65;
}

.text-price {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #37447E;
  padding-top: 5px;
}

.text-under-price {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #5D6970;
  padding-top: 60px;
  padding-bottom: 13px;
}

footer {
  background-color: #E7ECFF;
  margin-top: 177px;
}

.footer-first-block {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 61px;
  padding-bottom: 40px;
}

.footer-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  color: #37447E;
}

.footer-second-block {
  border-top: #5D6970 solid 2px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}


.footer-menu a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #929ECC;
}

.footer-menu a+a {
  margin-left: 60px;
}

.footer-img img {
  margin-left: 30px;
}